<div class="container-fluid ft-section">
    <div class="row">
        <div class="col-md-4 ft-box">
           
        </div>
        <div class="col-md-4 ft-box">
          <img class="ft-logo" src="
          {{ site.baseurl }}/assets/img/ceremi-mobile.png" />
          <h4 class="text-center">¿Qué es CEREMI?</h4>
          <p>CEREMI, es un ministerio cristiano evangélico en apoyo a las denominaciones, agencias
          misioneras locales, en beneficio particular de pastores, misioneros y líderes hispanos de carrera
          en el ministerio cristiano con tres programas:<strong>Prevención, Renovación y Restauración.</strong></p>

          <p><a href="{{ '/acerca' | prepend: site.baseurl }}">mas información</a></p>

          <!-- SOCIAL MEDIA LINKS WILL GO HERE -->
          <p>Seganos en Facebook <a href="https://www.facebook.com/CeremiInternacional">&nbsp; <i class="fab fa-facebook-square"></i></a></p>
        </div>
        <div class="col-md-4 ft-box">
 
        </div>
        <div class="fixed-btm col-md-12">
          <span class="mx-auto" style="font-size: 12px;">
            &copy; <time datetime="{{ site.time }}" >{{ site.time | date: '%Y' }}</time> {{ site.author.name }}.
          </span>
          <span class="sm-ft-text">Ministerio Ceremi</span><a class="rdh" href="https://rafaeldavis.me/" ><span class="sm-ft-text">Made with </span><span class="heart"></span></a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
