---
layout: default
title: Ceremi
---

<div class="container-fluid text-center ceremi-bg">
    <div class="col-lg-12 p-lg-5 mx-auto my-5">
      <center>
        <img  class="logo" src="{{site.baseurl }}/assets/img/ceremi-screen.png" />
      </center>
      <p class="lead font-weight-normal">"Porque te tomé de los confines de la tierra, y de tierras lejanas te llamé, y te dije: Mi siervo eres tú; te escogi, y no te deseché"<br><strong>Isaías 41:9</strong></p>
      <a class="btn btn-info" href="{{ site.baseurl }}{% link acerca.md %}#mision">Nuestra Misión</a>
    </div>
</div>
<div class="container hd-section">
  <h2 class="front_page_title text-center"> Notas Pastorales</h2>
  <div class="row">
    {% for post in site.posts limit:4 %}
    <div class="{% cycle 'box1 col-md-6' 'box2 col-md-6' 'box3 col-md-6' %} ">
      <div class="card">
        <div class="card-body">
          <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
            <h3 class="catalogue-title">{{ post.title }}</h3>
            <div class="catalogue-line"></div>
            <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
            <p>
              {{ post.content | strip_html | truncatewords: 30 }}
            </p>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

